html * {
    font-family: Calibri !important;
    color: #404041;
}

@font-face {
    font-family: Calibri;
    src: url("fonts/calibri\ regular.TTF");
}

.navbar {
    background-color: #A4CE57;
}

.bg-secondary {
    background-color: #D0E4A4 !important;
}

body {
  background-image: linear-gradient(to right, rgba(255,255,255, 0.85) 0 100%), url(img/background.png);
  background-size: cover;
}

#logo {
  background-image: url("img/logo.png");
}