html * {
    font-family: Roboto !important;
    color: #404041;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/roboto_regular.ttf");
}

.navbar {
    background-color: #A4CE57;
}

.navbar-nav>.navitem>.nav-link:hover, .navbar-nav>.navitem>.nav-link:focus
{
  color: #FFFFFF;
}
.nav>.nav-item>.nav-link:hover
{
  text-decoration: underline;
  color: #404041;
}
.bg-secondary {
    background-color: #FFFFFF !important;
}

body {
  background-image: linear-gradient(to right, rgba(255,255,255, 0.85) 0 100%), url(img/background.png);
  background-size: cover;
}

#logo {
  background-image: url("img/logo.png");
}