bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/

Lct2023.Mobile/Lct2023.Android/Resources/Resource.designer.cs
.vscode/launch.json
.vscode/tasks.json

**/secrets.json
**/secrets.*.json